# Build artifacts
build/
bin/

# Data & logs
data/*
logs/*
tmp/*

# Client runtime
.pid
.log

# Web
web/node_modules
web/dist
web/package-lock.json

# OS
.DS_Store

# IDE
.roo
.idea
.vscode

# Env
.env
.env.local
